 <div id="content-container">
        <div id="content" class="clearfix">
            
            <div id="main-content">
                <div id="breadcrumbs" class="clearfix">
                    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="#" itemprop="url" class="icon-home">
                            <span itemprop="title">Home</span>
                        </a> <span class="arrow">&gt;</span>
                    </div>  
                  
                    <span class="last-breadcrumbs">
                       <%= @message.title%>
                    </span>
                </div>
                <article class="static-page">
                    <h1 id="main-title"><%= @message.title%> from <span>
                        <% if @admin.role_id==1%>
          <%= @admin.teacher.full_name %>
       <% elsif @admin.role_id==2 %> 
         <%=   @admin.student.full_name %>
     <%   else %>
        <%=    puts 'Anonymous'%>
        <%    end %>
    </span></h1>

         <% if @admin.role_id==1%>
          <%= image_tag @admin.teacher.teacher_img %>
       <% elsif @admin.role_id==2 %> 
         <%=   image_tag @admin.student.student_img %>
     <%   else %>
        <%=    image_tag @admin.student.teacher_img %>
                <%   end %>   

                    <p><%= @message.description%></p>
                 
                  
                </article>
                 <article class="static-page">
                   
                   <p><h3> Comments</h3> </p>
                   
                 
                    <ul class="list-testimonial">

                         <%= render @message.comments%>
                       
                    </ul>
                    <p><h3> Join Discussion</h3> </p>
                     <%= render 'comments/form'%>
                </article>
            </div>
            <div id="sidebar">
                <aside class="widget-container">
                    <div class="widget-wrapper clearfix">
				        <h3 class="widget-title">Users Specs</h3>
                        <ul>
                            
                            <li>Name: <% if @admin.role_id==1%>
          <%= @admin.teacher.full_name %>
       <% elsif @admin.role_id==2 %> 
         <%=   @admin.student.full_name %>
     <%   else %>
        <%=    puts 'Anonymous'%>
        <%    end %> </li>
                            <li>Email: <a href="#"><%= @admin.email%></a></li>
                            <li>Qualification: <% if @admin.role_id==1%>
          <%= Qualification.find(@admin.teacher.qualification_id).name %>
       <% elsif @admin.role_id==2 %> 
         <%=   Qualification.find(@admin.student.qualification_id).name %>
     <%   else %>
        <%=    puts 'Parent'%>
        <%    end %></li>
                            <li><% if @admin.role_id==1%> Past Experience: 
          <%= @admin.teacher.past_experience %>
       <% elsif @admin.role_id==2 %> Date of Admission: 
         <%=   @admin.student.admission_year %>
     <%   else %>
        <%=    puts 'Anonymous'%>
        <%    end %> </li>
        <li><% if @admin.role_id==1%> Status: Teacher
       <% elsif @admin.role_id==2 %> Status: Student 
         <%=   @admin.student.admission_year %>
     <%   else %>
        Status: Parent 
        <%    end %> </li>
                        </ul>
                    </div>
                </aside>
                
            </div>
            
        </div>
    </div>

    <script>
            $('.review-rating').raty({
                readOnly: true,
                score:function() {
                    return $(this).attr('data-score');
                },
                path: '/assets'
            });

    </script>
     <script>
            $('.average-review-rating').raty({
                readOnly: true,
                score:function() {
                    return $(this).attr('data-source');
                },
                path: '/assets'
            });

    </script>