 <div id="content-container">
        <div id="content" class="clearfix">
            
            <div id="main-content">
                <div id="breadcrumbs" class="clearfix">
                    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="index.html" itemprop="url" class="icon-home">
                            <span itemprop="title">Home</span>
                        </a> <span class="arrow">&gt;</span>
                    </div>  
                    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="#" itemprop="url">
                            <span itemprop="title">About Us</span>
                        </a> <span class="arrow">&gt;</span>
                    </div>  
                    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="#" itemprop="url">
                            <span itemprop="title">History</span>
                        </a> <span class="arrow">&gt;</span>
                    </div>
                    <span class="last-breadcrumbs">
                        <%= @student.full_name%>
                    </span>
                </div>
                <article class="static-page">
                    <h1 id="main-title"><span><%= @student.full_name%></span></h1>
                   <%= image_tag @student.student_img.url(:medium),class: "align-left" %>
                    <p><%= @student.about_us%></p>
                  <p><h3>Schools <%= @student.full_name%> has been to:</h3>
                  	<ul><% @schools.each do |school|%>
                  	<li><%= school.name%></li>
                  	<%end%></ul>
                  </p>
                  
                 
                </article>
                
            </div>
            <div id="sidebar">
                <aside class="widget-container">
                    <div class="widget-wrapper clearfix">
				        <h3 class="widget-title">School Specs</h3>
                        <ul>
                           
                            <li>Name: <%= @student.full_name%> </li>
                            <li>Email: <a href="#"><%= Admin.find(@student.admin_id).email%></a></li>
                            <li>Phone: <%= @student.contact_no%></li>
                            <li>Qualification: <%= @student.qualification%></li>
                            <li>Admission Year: <%= @student.admission_year%></li>
                        </ul>
                    </div>
                </aside>
                
            </div>
            
        </div>
    </div>

    <script>
            $('.review-rating').raty({
                readOnly: true,
                score:function() {
                    return $(this).attr('data-score');
                },
                path: '/assets'
            });

    </script>
     <script>
            $('.average-review-rating').raty({
                readOnly: true,
                score:function() {
                    return $(this).attr('data-source');
                },
                path: '/assets'
            });

    </script>