 <div id="content-container">
        <div id="content" class="clearfix">
            
            <div id="main-content">
                <div id="breadcrumbs" class="clearfix">
                    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="index.html" itemprop="url" class="icon-home">
                            <span itemprop="title">Home</span>
                        </a> <span class="arrow">&gt;</span>
                    </div>  
                    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="#" itemprop="url">
                            <span itemprop="title">About Us</span>
                        </a> <span class="arrow">&gt;</span>
                    </div>  
                    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="#" itemprop="url">
                            <span itemprop="title">History</span>
                        </a> <span class="arrow">&gt;</span>
                    </div>
                    <span class="last-breadcrumbs">
                       <%= @teacher.full_name%>
                    </span>
                </div>
                <article class="static-page">
                    <h1 id="main-title"><span><%= @teacher.full_name%></span></h1>
                   <%= image_tag @teacher.teacher_img.url(:medium),class: "align-left" %>
                    <p><%= @teacher.about_us%></p>
                  <p><h3>Worked in:</h3>
                  	<ul><% @schools.each do |school|%>
                  	<li><%= school.name%></li>
                  	<%end%></ul>
                  </p>
                   <p><h3>Expertise:</h3>
                    <ul><% @subjects.each do |subject|%>
                    <li><%= subject.name%></li>
                    <%end%></ul>
                  </p>
                  <%=link_to "Write Testimonial", new_teacher_testimonial_path(@teacher), class: "button" %>
                </article>
                 <article class="static-page">
                   
                   <p><h3> Testimonials</h3> </p>
                   
                 
                    <ul class="list-testimonial">

                         <%= render @teacher.testimonials%>
                       
                    </ul>
                </article>
            </div>
            <div id="sidebar">
                <aside class="widget-container">
                    <div class="widget-wrapper clearfix">
				        <h3 class="widget-title">School Specs</h3>
                        <ul>
                            <li><center><div class="average-review-rating" data-source="<%=@average_testimonial%>"></div>
                            <span class="numberofreviews"><em>From:</em> <%= @teacher.testimonials.count%> testimonials</span> </center></li>
                            <li>Name: <%= @teacher.full_name%> </li>
                            <li>Email: <a href="#"> <%= Admin.find(@teacher.admin_id).email%></a></li>
                            <li>Past Experience: <%= @teacher.past_experience%></li>
                            <li>Qualification: <%= Qualification.find(@teacher.qualification_id).name%></li>
                        </ul>
                    </div>
                </aside>
                
            </div>
            
        </div>
    </div>

    <script>
            $('.review-rating').raty({
                readOnly: true,
                score:function() {
                    return $(this).attr('data-score');
                },
                path: '/assets'
            });

    </script>
     <script>
            $('.average-review-rating').raty({
                readOnly: true,
                score:function() {
                    return $(this).attr('data-source');
                },
                path: '/assets'
            });

    </script>