<div id="content-container">
        <div id="content" class="clearfix">
            <div id="main-content">
                <div id="breadcrumbs" class="clearfix">
                    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="index.html" itemprop="url" class="icon-home">
                            <span itemprop="title">Home</span>
                        </a> <span class="arrow">&gt;</span>
                    </div>  
                    <span class="last-breadcrumbs">
                        Schools
                    </span>
                </div>
                <article class="static-page">
                    <ul id="list-category-team">
                        <% @boards.each do |board|%>
                        <li><a href="team-category.html"><%= link_to board.name,schools_path(board: board.name)%></a></li>
                       <%end%>
                    </ul>
                    <div id="team-container">
                        <h1 id="main-title">Schools</h1>
                        <p>The following page contains links to schools profiles'.</p>
                        <ul id="list-team">
                        	<% i=0 %>
                        	<% @schools.each do |school|%>
							<% i=i+1 %>
								<% if i%3==0 %>
	<br>

                            <li class="last">
                            	<% else %>
                            	<li>
                            	<% end %>
                                <a href="teamdetail.html">
                                   <%= link_to image_tag(school.school_img.url(:medium)), school %>
                                    <strong><%= link_to school.name, school %></strong>
                                </a>
                            </li>
                             	 
                            <% end %>
                        </ul>
                     </div>
                   
                </article>
            </div><%= will_paginate @schools%>
            <div id="sidebar">
                
                <aside class="widget-container">
				        <div class="widget-wrapper clearfix">
				            <h3 class="widget-title">Latest Messages</h3>
				                <ul class="menu event-sidebar">	 <% @messages.each do |message| %>		
								    <li class="clearfix">
								        <div class="event-date-widget">
                                            <% admin_message=message.admin_id
        admin=Admin.find(admin_message)%>
                                          <% if admin.role_id==1%>
          <%= image_tag admin.teacher.teacher_img %>
       <% elsif admin.role_id==2 %> 
         <%=   image_tag admin.student.student_img %>
     <%   else %>
        <%=    image_tag admin.student.student_img %>
                <%   end %>  
                                        </div>
                                        <div class="event-content-widget">
                                             
                                            <article>
                                                <h4><a href="#"><%=link_to message.title, message_path(message)%></a></h4>
                                                <p><%=message.created_at%><br />
                                                 
                                                </p>
                                                <em><% if admin.role_id==1%>
          <%= admin.teacher.full_name %>
       <% elsif admin.role_id==2 %> 
         <%=   admin.student.full_name %>
     <%   else %>
        <%=    puts 'Anonymous'%>
        <%    end %></em>
                                            </article>
                                               
                                        </div>
								    </li><%end%>   
                                    
								</ul>
                            <a href="#"><%=link_to "More Messages", messages_path,class: "button-more"%></a>
				        </div>
				    </aside>
            </div>
            
        </div>
    </div>



