 <div id="content-container">
        <div id="content" class="clearfix">
            
            <div id="main-content">
                <div id="breadcrumbs" class="clearfix">
                    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="#" itemprop="url" class="icon-home">
                            <span itemprop="title">Home</span>
                        </a> <span class="arrow">&gt;</span>
                    </div>  
                   
                    <span class="last-breadcrumbs">
                        Greeting from - <%= @school.name%>
                    </span>
                </div>
                <article class="static-page">
                    <h1 id="main-title">Greetings from - <span><%= @school.name%></span></h1>
                   <%= image_tag @school.school_img.url,class: "align-left" %>
                    <p><%= @school.about_us%></p>
                  <p><h3>Available Boards</h3>
                  	<ul><% @boards.each do |board|%>
                  	<li><%= board.name%></li>
                  	<%end%></ul>
                  </p>
                  
                  <%=link_to "Add Reviews", new_school_review_path(@school), class: "button" %>
                </article>
                 <article class="static-page">
                   
                   <p><h3> Reviews</h3> </p>
                   
                 
                    <ul class="list-testimonial">

                         <%= render @school.reviews%>
                       
                    </ul>
                </article>
            </div>
            <div id="sidebar">
                <aside class="widget-container">
                    <div class="widget-wrapper clearfix">
				        <h3 class="widget-title">School Specs</h3>
                        <ul>
                            <li><center><div class="average-review-rating" data-source="<%= @average_review%>"></div>
                            <span class="numberofreviews"><em>From:</em> <%= @school.reviews.count%> reviews</span> </center></li>
                            <li>Name: <%= @school.name%> </li>
                            <li>Email: <a href="#"><%= @school.email%></a></li>
                            <li>Website: <a href="#"><%= @school.website%></a></li>
                            <li>Phone: <%= @school.phone%></li>
                            <li>Address: <%= @school.address%></li>
                        </ul>
                    </div>
                </aside>
                
            </div>
            
        </div>
    </div>

    <script>
            $('.review-rating').raty({
                readOnly: true,
                score:function() {
                    return $(this).attr('data-score');
                },
                path: '/assets'
            });

    </script>
     <script>
            $('.average-review-rating').raty({
                readOnly: true,
                score:function() {
                    return $(this).attr('data-source');
                },
                path: '/assets'
            });

    </script>