<% admin=Admin.find(review.admin_id) %>
<% if admin.student.present? %>
<li> 
                           
                            <%= image_tag(admin.student.student_img.url(:thumb), :class =>  "img-testimonial") %>
                            <p><%= review.comment%></p>
                           
                            <h3 class="testimonial-title"> <div class="review-rating" data-score="<%= review.rating %>">
<% if current_admin%>
                                <% if current_admin.id == review.admin_id%> <div style="float:right; margin-right:55px;"><span><%= link_to image_tag("Pencil-icon.png"),edit_school_review_path(review.school,review)%></span>
                                <span><%= link_to image_tag("trash-icon.png"),school_review_path(review.school,review), method: :delete, data: {confirm: "Are you sure?"}%>
                                </span></div>
<%end%>
<%end%></div><%= admin.student.full_name%> - <span> Student</span></h3>
                        </li>
<% elsif admin.teacher.present? %>
<li> 
                           
                            <%= image_tag(admin.teacher.teacher_img.url(:thumb), :class =>  "img-testimonial") %>
                            <p><%= review.comment%></p>
                           
                            <h3 class="testimonial-title"> <div class="review-rating" data-score="<%= review.rating %>"><% if current_admin%><% if current_admin.id == review.admin_id%> <div style="float:right; margin-right:55px;"><span><%= link_to image_tag("Pencil-icon.png"),edit_school_review_path(review.school,review)%></span>
                                <span><%= link_to image_tag("trash-icon.png"),school_review_path(review.school,review), method: :delete, data: {confirm: "Are you sure?"}%>
                                </span></div>
<%end%>
<%end%></div><%= admin.teacher.full_name%> - <span> Teacher</span></h3>
                        </li>

<% else %>
<li>						 
                          
                         
                            <h4>Comment</h4>
                            <p><%= review.comment%></p>
                           
                            <h3 class="testimonial-title">Anonymous - <span> Parent</span></h3>
                        </li><% end %>


<br>

