<div style="margin-top:30px;"><% admin=Admin.find(testimonial.admin_id) %>
<% if admin.student.present? %>
<li> 
                           
                            <%= image_tag(admin.student.student_img.url(:medium), :class =>  "img-testimonial") %>
                            <p><%= testimonial.testimonial%></p>
                           
                            <h3 class="testimonial-title"> <div class="review-rating" data-score="<%= testimonial.rating %>"><% if current_admin.id == testimonial.admin_id%> <div style="float:right; margin-right:55px;"><span><%= link_to image_tag("Pencil-icon.png"),edit_teacher_testimonial_path(testimonial.teacher,testimonial)%></span>
                                <span><%= link_to image_tag("trash-icon.png"),teacher_testimonial_path(testimonial.teacher,testimonial), method: :delete, data: {confirm: "Are you sure?"}%>
                                </span></div>
<%end%></div>
                            	
 <%= admin.student.full_name%> - <span> Student</span></h3>
                        </li>
<% elsif admin.teacher.present? %>
<li> 
                           
                            <%= image_tag(admin.teacher.teacher_img.url(:medium), :class =>  "img-testimonial") %>
                            <p><%= testimonial.testimonial%></p>
                           
                            <h3 class="testimonial-title"> <div class="review-rating" data-score="<%= testimonial.rating %>"> 
                            	 </div><%= admin.teacher.full_name%> - <span> Teacher</span></h3>
                        </li>

<% else %>
You need to be a teacher or a student to write a testimonial.<% end %>


<br>

</div>