<!DOCTYPE html>
<html>
<head>
  <title>Studentsmain</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,300,900' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700' rel='stylesheet' type='text/css' />
 <script type="text/javascript">
    $(document).ready(function (){
        $(window).scroll(function () {
            if ($(document).scrollTop() <= 40) {
                $('#header-full').removeClass('small');
                $('.tabs-blur').removeClass('no-blur');
                $('#main-header').removeClass('small');
            } else {
                $('#header-full').addClass('small');
                $('.tabs-blur').addClass('no-blur');
                $('#main-header').addClass('small');
            }
        });
        
        $("a[data-rel^='prettyPhoto']").prettyPhoto({
            default_width: 600,
            default_height: 420,
            social_tools: false
        });
        $('#slideshow-tabs').tabs({ show: { effect: "fade", duration: 200 }, hide: { effect: "fade", duration: 300 } });
        $('#tabs-content-bottom').tabs({ show: { effect: "fade", duration: 200 }, hide: { effect: "fade", duration: 300 } });
        $('.slider-tabs.flexslider').flexslider({
            animation: "slide",
            pauseOnAction: true
        });
        $('.slider-partners.flexslider').flexslider({
            animation: "slide",
            pauseOnAction: true,
            itemWidth: 163,
            itemMargin: 0
        });
        $('a[data-rel]').each(function() {
            $(this).attr('rel', $(this).data('rel'));
        });
        $('img[data-retina]').retina({checkIfImageExists: true});
        $(".open-menu").click(function(){
            $("body").addClass("no-move");
        });
        $(".close-menu, .close-menu-big").click(function(){
            $("body").removeClass("no-move");
        });
    });
    </script>
  <%= csrf_meta_tags %>
</head>
<body>
    <header id="main-header" class="clearfix">
        <div id="header-full" class="clearfix">
            <div id="header" class="clearfix">
                <a href="#nav" class="open-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a href="#" id="logo"><%= image_tag "logo.png" %></a>
                <aside id="header-content"> 
                    <form method="post" action="#" id="searchform">
                        <div>
                            <input type="text" name="search" class="input" />
                            <input type="submit" name="submitsearch" class="button" value="Search" />
                        </div>
                    </form>

                    <ul id="nav-header">

                    	<% if admin_signed_in? && current_admin.role_id==4%>


                               <li><%=link_to "My Schools",account_schools_path%></li>

                            	<li><a href="#"><%=link_to "Create School",new_school_path%> </a></li>
                                <% if (params[:controller] == 'schools' && params[:action]=='show') && current_admin.id == @school.admin_id %>
                                <li><a href="#"><%=link_to "Edit School",edit_school_path(@school)%> </a></li>
                                 <li><a href="#"><%=link_to "Delete School",school_path(@school),method: :delete,data: {confirm: "Are you sure?"}%> </a></li>
                                <% end  %>
                                  <li> <a href="#"> <%= link_to "Log out", destroy_admin_session_path, method: :delete%></a></li>
                    	<%elsif admin_signed_in? && (current_admin.role_id == 1)%>


                                <% if current_admin.teacher.present? %>
                                 <li><a href="#"><%=link_to "My Profile",teacher_path(current_admin.teacher)%></a></li>
                                  <% if (params[:controller] == 'teachers' && params[:action]=='show' && current_admin.id == @teacher.admin_id) %>
                                <li><a href="#"><%=link_to "Edit Profile",edit_teacher_path%></a></li>
                                <% end%>
                        <%else%>


                                    <li><a href="#"><%=link_to "Create Profile", new_teacher_path%></a></li>
                         <% end%>

                        <li><%=link_to "Post Message",new_message_path%></li>
                                 <% if (params[:controller] == 'schools' && params[:action]=='show') %>
                               <li><a href="#"><%=link_to "Add Reviews", new_school_review_path(@school) %></a> </li><% end%>
                        <li> <a href="#"> <%= link_to "Log out", destroy_admin_session_path, method: :delete%></a></li>
                        <%elsif admin_signed_in? && (current_admin.role_id == 2)%>
                        <% if current_admin.student.present? %>
                        <li><a href="#"><%=link_to "My Profile",student_path(current_admin.student)%></a></li>
                         <% if (params[:controller] == 'students' && params[:action]=='show' && current_admin.id == @student.admin_id ) %>
                        <li><a href="#"><%=link_to "Edit Profile",edit_student_path%></a></li>
                        <% end%>
                        <%else%>
                         <li><a href="#"><%=link_to "Create Profile",new_student_path%></a></li>
                         <% end%>
                        <li><%=link_to "Post Message",new_message_path%></li>
                        <% if (params[:controller] == 'schools' && params[:action]=='show') %>
                        <li><a href="#"><%=link_to "Add Reviews", new_school_review_path(@school) %></a></li> <% end%>
                        <li> <a href="#"> <%= link_to "Log out", destroy_admin_session_path, method: :delete%></a></li>
                        <%elsif admin_signed_in? && (current_admin.role_id == 4)%>
                        <li><%=link_to "Post Message",new_message_path%></li>
                        <li> <a href="#"> <%= link_to "Log out", destroy_admin_session_path, method: :delete%></a></li>
                        <% else%>
                        <% if !admin_signed_in?%>
                              <li> <a href="#"> <%= link_to "Sign Up", new_admin_registration_path%></a></li>
                             <li> <a href="#"> <%= link_to "Login", new_admin_session_path%></a></li>
                            <% end %>
                       <li><%=link_to "Forum",message_path%></li>
                        
                       <% end%>
                        
                    </ul>
                    <h3 id="slogan">"Fun. Study. Research. Innovate. Play"</h3>
                </aside>
            </div>
        </div>
        <nav id="nav" class="clearfix">
                    <a href="#" class="close-menu-big">Close</a>
                    <div id="nav-container">
                        <a href="#" class="close-menu">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <ul id="nav-main">
                            <li <%if current_page?(root_path)%> class="current-menu-item"<%end%>>
                                <%= link_to "Home",root_path%></li>
                            <li<%if current_page?(schools_path)%> class="current-menu-item"<%end%>>
                            <%= link_to "Schools",schools_path%></li>
                            <li<%if current_page?(students_path)%> class="current-menu-item"<%end%>>
                            <%= link_to "Students",students_path%></li>
                            <li<%if current_page?(teachers_path)%> class="current-menu-item"<%end%>>
                            <%= link_to "Teachers",teachers_path%></li>
                            <li<%if current_page?(messages_path)%> class="current-menu-item"<%end%>>
                            <%= link_to "Forum",messages_path%></li>
                        </ul>
                        <% if !admin_signed_in?%>
                            <%= link_to "Registration", new_admin_registration_path, id:"button-registration"%>
                        <%else%>
                         <%= link_to "My Account", edit_admin_registration_path, id:"button-registration"%>
                        <%end%>
                    </div>
                </nav>
    </header>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

 <footer id="main-footer" style="background:url(<%=image_url("img-8.jpg", options = {})%>) no-repeat 50% 0;">
        <div id="blur-top">
            <a href="#" id="link-back-top">Back to Top</a>
        </div>
        <div id="slogan-footer">
            <h4>Leading Together <span>for</span> Brighter Future</h4>
        </div>
        <div id="footer-content" class="clearfix">
            <div id="footer-container">
                <div id="sidebar-footer-left" class="sidebar-footer">
                    <aside class="widget-container">
                        <div class="widget-wrapper clearfix">
                            <h3 class="widget-title">Quick Navigation</h3>
                            <ul>
                            <li><%= link_to "Home",root_path%></li>
                            <li><%= link_to "Schools",schools_path%></li>
                            <li><%= link_to "Students",students_path%></li>
                            <li><%= link_to "Teachers",teachers_path%></li>
                            <li><%= link_to "Forum",messages_path%></li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div id="sidebar-footer-middle" class="sidebar-footer">
                    <aside class="widget-container">
                        <div class="widget-wrapper clearfix">
                            <h3 class="widget-title">Campus Location</h3>       
                            <article class="text-widget ">
                               <iframe class="map-area" src="http://maps.google.com/?ie=UTF8&amp;ll=37.055177,-95.668945&amp;spn=11.79095,12.150879&amp;t=m&amp;z=6&amp;output=embed"></iframe><br />                                   </article>
                        </div>
                    </aside>
                </div>
                <article id="footer-address" class="clearfix">
                    <h3 id="title-footer-address"><span>Contact School Fun</span></h3>
                    <p><strong>You can contact us via our hotline phone +62 4567 88987 and the Medical Campus is +62 4567 5446</strong></p>
                    <p>Vivamus enim massa, egestas quis viverra ut, adipiscing eget metus. Etiam neque orci, cursus vitae sem in, rhoncus vestibulum dolor.</p>
                    <ul id="list-social" class="clearfix">
                        <li id="icon-facebook"><a href="#">Facebook</a></li>
                        <li id="icon-twitter"><a href="#">Twitter</a></li>
                        <li id="icon-gplus"><a href="#">Google Plus</a></li>
                        <li id="icon-linkedin"><a href="#">Linkedin</a></li>
                        <li id="icon-youtube"><a href="#">Youtube</a></li>
                        <li id="icon-flickr" class="last"><a href="#">Flickr</a></li>
                    </ul>
                </article>
            </div>
        </div>
        <div id="footer-copyright">
            <div id="footer-copyright-content" class="clearfix">
                <a href="#" id="logo-footer"><%= image_tag "logo-footer.png" %></a>
                <p id="text-address">P Sherman, 42 Wallaby Way, Australia</p>
                <ul id="nav-footer" class="clearfix">
                            <li><%= link_to "Home",root_path%></li>
                            <li><%= link_to "Schools",schools_path%></li>
                            <li><%= link_to "Students",students_path%></li>
                            <li><%= link_to "Teachers",teachers_path%></li>
                            <li><%= link_to "Forum",messages_path%></li>
                </ul>
                <p id="text-copyright">Copyright &copy; 2013. All rights reserved</p>
            </div>
        </div>
    </footer>
</body>
</html>
